#------------------------------------------------------------------------------
#
# Constraints For Virtex II - Pro on ADM-XPL
#
#------------------------------------------------------------------------------

#------------------------------------------------------------------------------
# Timing Ignore Constraints
#------------------------------------------------------------------------------

#------------------------------------------------------------------------------
# Clock Period Constraints
#------------------------------------------------------------------------------

# 100 MHz Ref Clk to DCM Produces PLB(1X), CPU(FX=3X)
# (Over-Constrain Period by 250 ps to allow for Jitter, Skew, Noise, Etc)

# Parameters for a -6, 100MHz
 NET "lclk" 	PERIOD = 9.75;
# NET "ddr_clk_fb"	PERIOD = 9.75;
 NET "mgt_clk"	PERIOD = 7.75;


#------------------------------------------------------------------------------
# Multicycle Path Constraints for DCR
#------------------------------------------------------------------------------

#------------------------------------------------------------------------------
# IO Pad Location Constraints (Alpha Data XPL / 2VP7)
#------------------------------------------------------------------------------

##########################################################
#                                                        #
#   Local bus address, data and control pins             #
#   Connected to PCI interface                           #
#                                                        #
##########################################################
NET "lreset_l"  LOC = T9; 
NET "mclk"      LOC = AG15;
NET "lclk"      LOC = AH16; 

# NET "lad<63>"    LOC = AC13;
# NET "lad<62>"    LOC = AD13;
# NET "lad<61>"    LOC = AE11;
# NET "lad<60>"    LOC = AE12;
# NET "lad<59>"    LOC = AH10;
# NET "lad<58>"    LOC = AH11;
# NET "lad<57>"    LOC = AB14;
# NET "lad<56>"    LOC = AC14;
# NET "lad<55>"    LOC = AF11;
# NET "lad<54>"    LOC = AG11;
# NET "lad<53>"    LOC = AJ10;
# NET "lad<52>"    LOC = AK10;
# NET "lad<51>"    LOC = AF12;
# NET "lad<50>"    LOC = AF13;
# NET "lad<49>"    LOC = AG13;
# NET "lad<48>"    LOC = AB15;
# NET "lad<47>"    LOC = AG18;
# NET "lad<46>"    LOC = AH18;
# NET "lad<45>"    LOC = AF19;
# NET "lad<44>"    LOC = AF18;
# NET "lad<43>"    LOC = AJ21;
# NET "lad<42>"    LOC = AK21;
# NET "lad<41>"    LOC = AG20;
# NET "lad<40>"    LOC = AF20;
# NET "lad<39>"    LOC = AB17;
# NET "lad<38>"    LOC = AC17;
# NET "lad<37>"    LOC = AH21;
# NET "lad<36>"    LOC = AH20;
# NET "lad<35>"    LOC = AE20;
# NET "lad<34>"    LOC = AE19;
# NET "lad<33>"    LOC = AC18;
# NET "lad<32>"    LOC = AD18;
# NET "lad<31>"    LOC = AC15;
# NET "lad<30>"    LOC = AD14;
# NET "lad<29>"    LOC = AE14;
# NET "lad<28>"    LOC = AF16;
# NET "lad<27>"    LOC = AG16;
# NET "lad<26>"    LOC = AD16;
# NET "lad<25>"    LOC = AE16;
# NET "lad<24>"    LOC = AF17;
# NET "lad<23>"    LOC = AG17;
# NET "lad<22>"    LOC = AD17;
# NET "lad<21>"    LOC = AE17;
# NET "lad<20>"    LOC = AB16;
# NET "lad<19>"    LOC = AC16;
# NET "lad<18>"    LOC = AH22;
# NET "lad<17>"    LOC = AJ22;
# NET "lad<16>"    LOC = AE22;
# NET "lad<15>"    LOC = AE21;
# NET "lad<14>"    LOC = AC19;
# NET "lad<13>"    LOC = AD19;
# NET "lad<12>"    LOC = AF21;
# NET "lad<11>"    LOC = AG21;
# NET "lad<10>"    LOC = AF23;
# NET "lad<9>"     LOC = AF22;
# NET "lad<8>"     LOC = AC20;
# NET "lad<7>"     LOC = AD20;
# NET "lad<6>"     LOC = AJ23;
# NET "lad<5>"     LOC = AK23;
# NET "lad<4>"     LOC = AE24;
# NET "lad<3>"     LOC = AE23;
# NET "lad<2>"     LOC = AC21;
# NET "lad<1>"     LOC = AD21;
# NET "lad<0>"     LOC = AD23;

# NET "lbe_l<7>"   LOC = AB8;
# NET "lbe_l<6>"   LOC = AB7;
# NET "lbe_l<5>"   LOC = AF6;
# NET "lbe_l<4>"   LOC = AE5;
# NET "lbe_l<3>"   LOC = AC12;
# NET "lbe_l<2>"   LOC = AG10;
# NET "lbe_l<1>"   LOC = AF10;
# NET "lbe_l<0>"   LOC = AF9;

# #NET "l64_l"      LOC = AG30;
# NET "lads_l"     LOC = AD12;
# NET "lblast_l"   LOC = AE9;
# NET "lbterm_l"   LOC = AE10;
# NET "lready_l"   LOC = AH9;
NET "lreset_l"   LOC = T9;
# NET "lwrite"     LOC = AD25;

##########################################################
#                                                        #
#   Local bus arbitration pins                           #
#   Connected to PCI interface                           #
#                                                        #
##########################################################
# #NET "fhold"      LOC = AG28;
# NET "fholda"     LOC = AH27;

##########################################################
#                                                        #
#   Recommended pin performance attributes               #
#                                                        #
##########################################################
# NET "lad<*>"     FAST;
# NET "lready_l"   FAST;
# NET "lbterm_l"   FAST;

#-----------------------------------------------------------------------
NET  clk_gen<0>  LOC = AH15; # ZBT clock
NET  clk_gen<0>  PULLUP;
NET  clk_fb<0>   LOC = AJ15; # ZBT clock feedback

NET  clk_gen<0>  FAST;
INST "myclkrst_1?myclkrst_1?dll_lclk" LOC="DCM_X0Y0"; # for AH16, bottom left quadrant
INST "myclkrst_1?myclkrst_1?dll0"     LOC="DCM_X1Y0"; # for AJ15, bottom right quadrant


NET 	"mgt_clk"	LOC = F16;
NET 	"mgt_clkb"	LOC = G16;
INST	"mgt_clk*"	IOSTANDARD = LVPECL_25;

# NET HALTNEG      LOC = A23;
# NET HALTNEG      PULLUP;
# NET TRSTNEG      LOC = B23;
# NET TRSTNEG      PULLUP;

#UART
NET RS232_Uart_1_RX  LOC = F9;
NET RS232_Uart_1_TX  LOC = H11;
# NET rts LOC = E6;

#------------------------------------------
#             ZBT
#------------------------------------------
INST "zbt_*" FAST;
NET  zbt_ad<0>  LOC = L29; # for expansion  NET  zbt_ad<9>  LOC = L29;
NET  zbt_ad<1>  LOC = N26; # for expansion  NET  zbt_ad<10>  LOC = N26;
NET  zbt_ad<2>  LOC = N24; # NET  zbt_ad<11>  LOC = N24;
NET  zbt_ad<3>  LOC = K27; # NET  zbt_ad<12>  LOC = K27;
NET  zbt_ad<4>  LOC = K28; # NET  zbt_ad<13>  LOC = K28;
NET  zbt_ad<5>  LOC = L30; # NET  zbt_ad<14>  LOC = L30;
NET  zbt_ad<6>  LOC = M30; # NET  zbt_ad<15>  LOC = M30;
NET  zbt_ad<7>  LOC = N25; # NET  zbt_ad<16>  LOC = N25;
NET  zbt_ad<8>  LOC = N23; # NET  zbt_ad<17>  LOC = N23;
NET  zbt_ad<9>  LOC = L26; # NET  zbt_ad<18>  LOC = L26;
NET  zbt_ad<10>  LOC = L27; # NET  zbt_ad<19>  LOC = L27;
NET  zbt_ad<11>  LOC = M29; # NET  zbt_ad<20>  LOC = M29;
NET  zbt_ad<12>  LOC = N29; # NET  zbt_ad<21>  LOC = N29;
NET  zbt_ad<13>  LOC = P22; # NET  zbt_ad<22>  LOC = P22;
NET  zbt_ad<14>  LOC = R22; # NET  zbt_ad<23>  LOC = R22;
NET  zbt_ad<15>  LOC = M27; # NET  zbt_ad<24>  LOC = M27;
NET  zbt_ad<16>  LOC = M28; # NET  zbt_ad<25>  LOC = M28;
NET  zbt_ad<17>  LOC = N30; # NET  zbt_ad<26>  LOC = N30;
NET  zbt_ad<18>  LOC = P30; # NET  zbt_ad<27>  LOC = P30;
NET  zbt_ad<19>  LOC = P23; # physically bit AD0  NET  zbt_ad<28>  LOC = P23;

# # NET  zbt_ad<0>  LOC = L29; # for expansion  NET  zbt_ad<9>  LOC = L29;
# # NET  zbt_ad<1>  LOC = N26; # for expansion  NET  zbt_ad<10>  LOC = N26;
# NET  zbt_ad<0>  LOC = N24; # NET  zbt_ad<11>  LOC = N24;
# NET  zbt_ad<1>  LOC = K27; # NET  zbt_ad<12>  LOC = K27;
# NET  zbt_ad<2>  LOC = K28; # NET  zbt_ad<13>  LOC = K28;
# NET  zbt_ad<3>  LOC = L30; # NET  zbt_ad<14>  LOC = L30;
# NET  zbt_ad<4>  LOC = M30; # NET  zbt_ad<15>  LOC = M30;
# NET  zbt_ad<5>  LOC = N25; # NET  zbt_ad<16>  LOC = N25;
# NET  zbt_ad<6>  LOC = N23; # NET  zbt_ad<17>  LOC = N23;
# NET  zbt_ad<7>  LOC = L26; # NET  zbt_ad<18>  LOC = L26;
# NET  zbt_ad<8>  LOC = L27; # NET  zbt_ad<19>  LOC = L27;
# NET  zbt_ad<9>  LOC = M29; # NET  zbt_ad<20>  LOC = M29;
# NET  zbt_ad<10>  LOC = N29; # NET  zbt_ad<21>  LOC = N29;
# NET  zbt_ad<11>  LOC = P22; # NET  zbt_ad<22>  LOC = P22;
# NET  zbt_ad<12>  LOC = R22; # NET  zbt_ad<23>  LOC = R22;
# NET  zbt_ad<13>  LOC = M27; # NET  zbt_ad<24>  LOC = M27;
# NET  zbt_ad<14>  LOC = M28; # NET  zbt_ad<25>  LOC = M28;
# NET  zbt_ad<15>  LOC = N30; # NET  zbt_ad<26>  LOC = N30;
# NET  zbt_ad<16>  LOC = P30; # NET  zbt_ad<27>  LOC = P30;
# NET  zbt_ad<17>  LOC = P23; # physically bit AD0  NET  zbt_ad<28>  LOC = P23;


NET  zbt_ctrl<2>  LOC = K25; # NET  zbt_adv_ld_n  LOC = K25;
# NET  zbt_ctrl<15>  LOC = K26; # NET  zbt_be_n<7>  LOC = K26;
# NET  zbt_ctrl<14>  LOC = J30; # NET  zbt_be_n<6>  LOC = J30;
# NET  zbt_ctrl<13>  LOC = K30; # NET  zbt_be_n<5>  LOC = K30;
# NET  zbt_ctrl<12>  LOC = M25; # NET  zbt_be_n<4>  LOC = M25;
NET  zbt_ctrl<5>  LOC = M26; # NET  zbt_be_n<3>  LOC = M26;
NET  zbt_ctrl<6>  LOC = J27; # NET  zbt_be_n<2>  LOC = J27;
NET  zbt_ctrl<7>  LOC = J28; # NET  zbt_be_n<1>  LOC = J28;
NET  zbt_ctrl<8>  LOC = K29; # NET  zbt_be_n<0>  LOC = K29;
NET  zbt_ctrl<3>  LOC = D28; # CURRENTLY UNCONNECTED  NET  zbt_ce_n<0>  LOC = D28;
# NET  zbt_ce1_n  LOC = D28;
NET  zbt_ctrl<9>  LOC = M23;  # NET  zbt_ce2<0>  LOC = M23;
NET  zbt_ctrl<10>  LOC = J29;   # NET  zbt_ce2_n  LOC = J29;
# #NET  zbt_clk  LOC = AH15;
# #NET  zbt_clk_fb  LOC = AJ15;
NET  zbt_ctrl<0>  LOC = M24; # NET  zbt_cke_n  LOC = M24;
NET  zbt_ctrl<11>  LOC = J24;   # NET  zbt_lbo_n  LOC = J24;
NET  zbt_ctrl<1>  LOC = C27; # NET  zbt_oe_n<0>  LOC = C27;
NET  zbt_ctrl<4>  LOC = J23; # NET  zbt_rw_n  LOC = J23;

# NET  zbt_dq<63>  LOC = P24;
# NET  zbt_dq<62>  LOC = N27;
# NET  zbt_dq<61>  LOC = N28;
# NET  zbt_dq<60>  LOC = P28;
# NET  zbt_dq<59>  LOC = P29;
# NET  zbt_dq<58>  LOC = R23;
# NET  zbt_dq<57>  LOC = R24;
# NET  zbt_dq<56>  LOC = P26;
# NET  zbt_dq<55>  LOC = P27;
# NET  zbt_dq<54>  LOC = R29;
# NET  zbt_dq<53>  LOC = T29;
# NET  zbt_dq<52>  LOC = R25;
# NET  zbt_dq<51>  LOC = R26;
# NET  zbt_dq<50>  LOC = R27;
# NET  zbt_dq<49>  LOC = R28;
# NET  zbt_dq<48>  LOC = V30;
# NET  zbt_dq<47>  LOC = U30;
# NET  zbt_dq<46>  LOC = T25;
# NET  zbt_dq<45>  LOC = T26;
# NET  zbt_dq<44>  LOC = T27;
# NET  zbt_dq<43>  LOC = T28;
# NET  zbt_dq<42>  LOC = U28;
# NET  zbt_dq<41>  LOC = U29;
# NET  zbt_dq<40>  LOC = T23;
# NET  zbt_dq<39>  LOC = T24;
# NET  zbt_dq<38>  LOC = U26;
# NET  zbt_dq<37>  LOC = U27;
# NET  zbt_dq<36>  LOC = W29;
# NET  zbt_dq<35>  LOC = V29;
# NET  zbt_dq<34>  LOC = U22;
# NET  zbt_dq<33>  LOC = T22;
# NET  zbt_dq<32>  LOC = V27;
NET  zbt_dq<0>  LOC = V28;
NET  zbt_dq<1>  LOC = Y30;
NET  zbt_dq<2>  LOC = W30;
NET  zbt_dq<3>  LOC = U23;
NET  zbt_dq<4>  LOC = U24;
NET  zbt_dq<5>  LOC = V25;
NET  zbt_dq<6>  LOC = V26;
NET  zbt_dq<7>  LOC = AA29;
NET  zbt_dq<8>  LOC = Y29;
NET  zbt_dq<9>  LOC = V23;
NET  zbt_dq<10>  LOC = V24;
NET  zbt_dq<11>  LOC = W27;
NET  zbt_dq<12>  LOC = W28;
NET  zbt_dq<13>  LOC = AB30;
NET  zbt_dq<14>  LOC = AA30;
NET  zbt_dq<15>  LOC = W25;
NET  zbt_dq<16>  LOC = W26;
NET  zbt_dq<17>  LOC = Y26;
NET  zbt_dq<18>  LOC = Y27;
NET  zbt_dq<19>  LOC = AA27;
NET  zbt_dq<20>  LOC = AA28;
NET  zbt_dq<21>  LOC = W23;
NET  zbt_dq<22>  LOC = W24;
NET  zbt_dq<23>  LOC = AB27;
NET  zbt_dq<24>  LOC = AB28;
NET  zbt_dq<25>  LOC = AC29;
NET  zbt_dq<26>  LOC = AB29;
NET  zbt_dq<27>  LOC = AA25;
NET  zbt_dq<28>  LOC = AA26;
NET  zbt_dq<29>  LOC = AC27;
NET  zbt_dq<30>  LOC = AC28;
NET  zbt_dq<31>  LOC = AG29;

##########################################################
#                                                        #
#   Timing specifications                                #
#                                                        #
#   All delays in ns                                     #
#                                                        #
#   Local bus clock: 50MHz max                           #
#                                                        #
#   Minimum local bus clock period            = 16.67ns  #
#   Desired local bus clock period            = 20.0ns   #
#   tVALID (all PCI9656 synchronous outputs)  = 9.0ns    #
#   tSETUP (all PCI9656 synchronous inputs)   = 4.5ns    #
#                                                        #
#   Add 1.0ns slack:                                     #
#   tVALID' (all PCI9656 synchronous outputs) = 10.0ns   #
#   tSETUP' (all PCI9656 synchronous inputs)  = 5.5ns    #
#                                                        #
#   So:                                                  #
#   tVALID  (all FPGA synchronous outputs)    = 14.5ns   #
#   tSETUP  (all FPGA synchronous outputs)    = 10.0ns   #
#                                                        #
##########################################################
NET "lclk" TNM_NET         = "TNM_LCLK";
NET "mclk" TNM_NET         = "TNM_MCLK";

TIMEGRP "LCLK_PAD"         = "pads(lclk)";
# TIMEGRP "MCLK_PAD"         = "pads(mclk)";
# TIMEGRP "LAD_PADS"         = "pads(lad<*>)";
# TIMEGRP "LADS_PAD"         = "pads(lads_l)";
# TIMEGRP "LWRITE_PAD"       = "pads(lwrite)";
# TIMEGRP "LBLAST_PAD"       = "pads(lblast_l)";
# TIMEGRP "LBTERM_PAD"       = "pads(lbterm_l)";
# TIMEGRP "LREADY_PAD"       = "pads(lready_l)";
# TIMEGRP "FHOLDA_PAD"       = "pads(fholda)";
TIMEGRP "ZBT_PADS"         = "pads(zbt_*)";


# TIMEGRP "LCTL_PADS"        = "LAD_PADS":
#                              "LADS_PAD":
#                              "LWRITE_PAD":
#                              "LBLAST_PAD":
#                              "LBTERM_PAD":
#                              "LREADY_PAD":
#                              "FHOLDA_PAD";

TIMEGRP "RAM_PADS"         = "ZBT_PADS";

# Clock distribution & reset
NET "lclk"      MAXDELAY   = 3.0ns;
NET "mclk"      MAXDELAY   = 5.0ns;
NET "lreset_l"  MAXDELAY   = 30.0ns;

# Internal timing
TIMESPEC TS_LCLK_FFS_FFS   = PERIOD "TNM_LCLK" 15.0ns HIGH 50%;
TIMESPEC TS_MCLK_FFS_FFS   = PERIOD "TNM_MCLK" 30.0ns HIGH 50%;

# FPGA clock-to-output
# TIMEGRP "LCTL_PADS" OFFSET = OUT 7.5ns AFTER  "lclk";
TIMEGRP "RAM_PADS"  OFFSET = OUT 5.0ns AFTER  "lclk";

# FPGA setup
# TIMEGRP "LCTL_PADS" OFFSET = IN  7.5ns BEFORE "lclk";
TIMEGRP "RAM_PADS"  OFFSET = IN  5.0ns BEFORE "lclk";
