*.class
config.log
config.status
confdefs.h
config/cpinvoke
config/vars.mk
src/vars.mk
src/espam/main/Config.java
bin/espam
bin/cpinvoke

autom4te.cache
src_lib/autom4te.cache
src_lib/lib
src_lib/vars.mk
*.o


