*.class
config.log
config.status
confdefs.h
config/cpinvoke
config/vars.mk
src/vars.mk
src/espam/main/Config.java
bin/espam
bin/cpinvoke
lib/libpandapolylib.so

autom4te.cache
src_lib/autom4te.cache
src_lib/lib
src_lib/vars.mk
*.o

*.iml
target
out
.idea
espam.jar
espam_exec.jar
Manifest.txt

output_models
modelsamples

unit_tests


